@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-creamyWhite dark:bg-charcoalGrey;
  }
}

@layer components {
  .hero-gradient {

    background: hsla(51, 20%, 93%, 1);

    background: linear-gradient(342deg, hsla(51, 20%, 93%, 1) 0%, hsla(9, 34%, 85%, 1) 80%, hsla(0, 11%, 65%, 1) 100%);

    background: -moz-linear-gradient(342deg, hsla(51, 20%, 93%, 1) 0%, hsla(9, 34%, 85%, 1) 80%, hsla(0, 11%, 65%, 1) 100%);

    background: -webkit-linear-gradient(342deg, hsla(51, 20%, 93%, 1) 0%, hsla(9, 34%, 85%, 1) 80%, hsla(0, 11%, 65%, 1) 100%);

    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1F0EA", endColorstr="#E6D0CC", GradientType=1 ); */
  }
}
